NEXT_PUBLIC_APP_URL=https://activerider.com.ng
NEXT_PUBLIC_APP_NAME="Active Rider"
NEXT_PUBLIC_APP_ABOUT="Instant pick-up and delivery at your fingertips"
NEXT_PUBLIC_APP_KEYWORDS="active rider,active rider benin,order ride,pick-up package,delivery app"
NEXT_PUBLIC_BUILD="6.23.7.22"
NEXT_PUBLIC_CREATED="2022-12-15"
NEXT_PUBLIC_HOSTED="2023-04-30"

NEXT_PUBLIC_THEME_MAIN="#f26836"
NEXT_PUBLIC_THEME_LIGHT="#fbd1c2"
NEXT_PUBLIC_THEME_ACCENT="#703019"
