NEXT_PUBLIC_APP_URL=https://activerider.com.ng
NEXT_PUBLIC_APP_NAME="Active Rider"
NEXT_PUBLIC_APP_ABOUT="Instant pick-up and delivery at your fingertips"
NEXT_PUBLIC_APP_KEYWORDS="active rider,active rider benin,order ride,pick-up package,delivery app"
NEXT_PUBLIC_BUILD="6.23.7.22"
NEXT_PUBLIC_CREATED="2022-12-15"
NEXT_PUBLIC_HOSTED="2023-04-30"

NEXT_PUBLIC_THEME_MAIN="#f26836"
NEXT_PUBLIC_THEME_LIGHT="#fbd1c2"
NEXT_PUBLIC_THEME_ACCENT="#703019"

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=vudo_db
DB_USERNAME=root
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=a319b248a9ae8e
MAIL_PASSWORD=8e77fe6fb61bf7
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=dehphantom@yahoo.com
MAIL_FROM_NAME="${APP_NAME}"

INTERSWITCH_ENV=TEST
INTERSWITCH_REDIRECT_URL=http://127.0.0.1:8000/payment/verify
INTERSWITCH_REDIRECT_NAME="payment.verify"
INTERSWITCH_PAY_ITEM_ID=Default_Payable_MX15510
INTERSWITCH_MERCHANT_CODE=MX15510

WEB_MASTER=https://www.github.com/2gbeh/

